* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: space-mono;
    src: url(./fonts/SpaceMono-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: space-mono;
    src: url(./fonts/SpaceMono-Bold.ttf);
    font-weight: 700;
}

:root {
    --green-200: #9FE8DF;
    --green-400: hsl(172, 67%, 45%);
    --green-900: hsl(183, 100%, 15%);
    --grey-500: hsl(186, 14%, 43%);
    --grey-400: hsl(184, 14%, 56%);
    --grey-200: hsl(185, 41%, 84%);
    --grey-50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);
    --error:hsl(15, 40%, 51%);
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--grey-200);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-family: space-mono;
    font-weight: 400;
    min-height: calc(100vh - 20px);
}

h1 {
    color: var(--green-900);
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 4px;
    margin-bottom: 50px;
}


/************************* Styling the Fields ****************/
.tip-calculator-container {
    background-color: var(--white);
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


/**
 * Input Field Styling 
*/
.input-field label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.input-field label span,
fieldset legend {
    font-weight: 700;
    color: var(--grey-400);
}

.input-field .input {
    background-color: var(--grey-50);
    height: 45px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.input-field .input input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: right;
    font-size: 24px;
    outline: none;
    color: var(--green-900);
    font-weight: bolder;
    font-family: space-mono;
    caret-color: var(--green-400);
}

input::placeholder{
    color: var(--grey-400);
}

.error-message{
    display: none;
}

/**
 * Field Set Sytles
*/
fieldset {
    border: none;
    margin: 24px 0px;
}

fieldset .tip-perts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 12px;
    gap: 24px;
}

.tip-perts .tip input[type='radio'] {
    display: none;
}

.tip {
    background-color: var(--green-900);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: var(--grey-50);
    border-radius: 8px;
    overflow: hidden;
    min-width: 116px;
}

/**
 * Styling the Custom Field
*/

#custom-tip {
    background-color: transparent;
}

#custom-tip input {
    background-color: var(--grey-50);
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    text-align: right;
    font-family: space-mono;
    padding: 0px 12px;
    color: var(--green-900);
    caret-color: var(--green-400);
}

#custom-tip input::placeholder{
    text-align: center;
}

/**************************** For the output pane ***********************/
.tip-results {
    background-color: var(--green-900);
    padding: 30px 20px 20px 20px;
    border-radius: 12px;
}

.output {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.output h4 {
    color: var(--grey-50);
    font-size: 16px;
}

.output small {
    color: var(--grey-400);
    font-weight: 700;
}

.output strong {
    color: var(--green-400);
    font-size: 30px;
}

.reset-button button{
    width: 100%;
    height: 48px;
    background-color: var(--green-400);
    border: none;
    margin-top: 12px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    color: var(--green-900);
}

/************************ Attribution Stylings *************/

.attribution {
    background-color: var(--white);
    font-size: 11px;
    text-align: center;
    height: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*********** Desktop View ********************/
@media (min-width:700px) {
    .tip-calculator-container {
        flex-direction: row;
        border-radius: 10px;
        max-width: 920px;
        height: 480px;
    }

    .tip-results,
    .input-fields-container {
        flex: 1;
    }

    .input-fields-container {
        padding: 0px 24px 24px 24px;
    }

    .input-fields-container form , .tip-results{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .tip-results{
        padding: 30px;
    }

    .tip-results .output strong{
        font-size: 44px;
    }

    fieldset .tip-perts {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .attribution {
        background-color: transparent;
    }
}

/****************** Managing the States Styles ***************/
/**
 * active Input Fields
*/
input:hover{
    cursor: pointer;
}

.input-field.active .input , #custom-tip.active{
    border: 2px solid var(--green-400);
}

.input-field.error .error-message{
    display: block;
    color: var(--error);
}

.input-field.error .input{
    border: 2px solid var(--error);
}

.tip:hover , .tip.active{
    background-color: var(--green-200);
    color: var(--green-900);
    cursor: pointer;
}

.reset-button button:hover{
    background-color: var(--green-200);
    cursor: pointer;
}

.reset-button.disable button{
    background-color: var(--grey-500);
    cursor: default;
}